	<li> 
		<%= gravatar_for article.author %>
		<h3>
			<%= article.author.name %>
		</h3>
	</li>
	<li>
		<%=link_to article.title, article_path(article) %> 
		<%= render partial: 'blorgh/shared/article_options', locals:{article: article}%>
	</li>
