<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 center text-center col-centered  footer">
			<div class="col-sm-3">
				<div class="foot-link-1">
					<%= link_to "back", session[:previous]%>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="foot-link-2">
					<%= link_to "home", root_url%>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="foot-link-3">
					<%= link_to "articles", articles_path%>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="foot-link-4">
					<%= link_to "back", session[:previous]%>
				</div>
			</div>
			</div>
		</div>
		</div>
