<h3><%= @article.title %></h3>
<div class="well">
	<%= @article.text %>
</div>
<div class="well well-sm">
	penned by <%= @article.author.name %>
	<%= time_ago_in_words @article.created_at%> ago.
</div>
