<ul class="index-list">
	<li>
		<%= @author.name %>
	</li>
	<li>
		<%= @author.email %>
	</li>
	<li>
		<%= link_to 'Edit', edit_author_path(@author) %> |
		<%= link_to 'Back', authors_path %>
</li>
</ul>
