<li>

<div class="comment-header">
		<%= gravatar_for comment.article.author, size:50 %>
		<strong>
			<%= comment.article.author.name %>
		</strong>
</div>
</li>
<li>
	<div class="well well-sm comment-container">
	 <%= comment.text %>
	</div>
</li>


