<li>

<div class="comment-header">
	<span class="img-thumbnail">
		<%= gravatar_for comment.article.author, size:30 %>
	</span>
		<%= comment.article.author.name %>
</div>
</li>
<li>
	<div class="well well-sm comment-container">
	 <%= comment.text %>
	</div>
</li>


