$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;
$light-one: #c0dfd9;
$light-two: #e9ece5;
$color-secondary: #b3c2bf;
$color-primary: #3b3a36;
$border-round:10px;
$font-color: #556270;
$dark-font:#2D3033;
$light-font:#6C6E70;
$light-blue:#0AA0D9;
$dark-blue:#0C98CF;
$yellow-border:#FFF568;
