@import '__import';
.link-list-rollover{
	.link-list-rollover-content{
		display:none;

	}
}
.link-list-rollover:hover .link-list-rollover-content{
	display:block;

}

.footer{
	padding-top:60px;
	text-align:center;
	margin: 0 0px
}
.foot-link-1{
	@include circle(75px, 75px, $dark-blue);
	@include white-link;
}
.foot-link-2{
	@include circle(75px, 75px, $dark-font);
	@include white-link;
}
.foot-link-3{
	@include circle(75px, 75px, $yellow-border);
	@include white-link;
}
.foot-link-4{
	@include circle(75px, 75px, $light-font);
	@include white-link;
}
.sub-footer{
	text-align:center;
		background:$yellow-border;
		padding:8px;
	a{
		color:$dark-blue;
		:visited{
			color:$dark-font;
			
		}
	}
}

.button_color{
	background:$dark-font;
	color:$yellow-border

}



@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),      url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@mixin list_padding{
	padding:1.2em;
}
@mixin header_padding{
	padding:1.5em;
}
a{color:$light-blue;}

@media screen and (max-width: $screen-phone) { 

	.foot-link-1{
		@include white-link;
	}
	.foot-link-2{
		@include white-link;
	}
	.foot-link-3{
		@include white-link;
	}
	.foot-link-4{
		@include white-link;
	}
	.sub-footer{
		text-align:center;
			background:$yellow-border;
			padding:8px;
		a{
			color:$dark-blue;
			:visited{
				color:$dark-font;
				
			}
		}
}
h1{
	font-size: 22px;
}
h3{
	font-size:18px;
	color: $font-color;
}
} //767px & lower
@media (max-width: $screen-tablet) { 
	h1{
		font-size: 24px;
	}
	h3{
		font-size:20px;
		color: $font-color;
	}
} //767px & lower
@media (max-width: $screen-desktop) { 
	h1{
		font-size: 26px;
	}
	h3{
		font-size:22px;
		color: #333;
	}
} //767px & lower
body{padding-top:60px;}

.rounded{
	border-radius: $border-round;
}
.heading{text-align: center}


.col-centered{
	float:none;
	margin: 0 auto;

}
ul.list_list {
		li:nth-last-child(even){
			background:$light-two;
		}
		li:nth-last-child(odd){
			background:$light-two;
		}
		li:nth-last-child(1){
			border-bottom:6px solid $color-primary;
		}
		li:nth-child(1){
			border-top:$color-primary;
		}
	li{
		border-bottom: 1px solid #ccc;
		list-style-type:none;
		text-align:left;
		margin:2px;

	}
}
.comment-container{
	text-align:left;
}
.comment-header{
	text-align:left;
	margin-bottom:1.5em;

}
.container-fluid{
}

.index-list{
	margin-top:2em;
	li:first-child{
		border-top:1px $light-two solid;
		margin-bottom:2em;
		padding-top:1em;
		
	}
	li:last-child{
		border-bottom:1px $light-two solid;
		margin-top:2em;
	}
	li{
		list-style-type:none;
		text-align:left;
		font-size:1.2em;
		line-height: 1.2em;
	}
	
}
.article-text{
	margin-bottom: 1.5em;
	border-radius: 10px;
	font-size:1.2em;
	li:nth-last-child{
		border-bottom:solid #444 1px;
	}
}
.well{
	p{
		background:$color-primary;
		text-align:center;
		color:$light-two;
		padding: 12px;
		margin: 8px;
		border:solid $light-two 1px;
		border-radius:10px;
		font-size:1.3em;

	}
}
.login{
	color:$dark-font

}
//menu stylings

